<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5 ">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>

<form action="/login" method="post">
    用户名：<input type="text" name="username" placeholder="请输入用户名">
    用户名：<input type="text" name="username" placeholder="请输入用户名">

    密码：<input type="password" name="password" placeholder="请输入密码">
    记住我：<input type="checkbox" name="remember-me" value="true">
    <button type="submit">登陆</button>
    <a href="/logout">退出</a>
</form>
</body>
</html>
